@import "./../../scss/variables";
@import "./../../scss/mixins";

.container {
    margin: 1%;
    height: 98%;

    .task-list {
        @include flex;
        flex-wrap: wrap;
        width: 100%;
        &__item {
            margin: $m-10;
            min-width: 300px;
            width: 350px;
            min-height: 100px;
        }

        &__new {
            @include flex(row, center, center);
            margin: $m-10;
            width: 150px !important;
            height: 226px;
            @include border;
            cursor: pointer;
            &:hover {
                background-color: $color-low-bg;
                border: none;
            }
            .new_list {
                @include flex(row, center, center);
                // width: 115px;
                // height: 160px;
            }

            &.selected{
                border-color: $color-medium;
            }
        }
    }
}
