<div class="container">
    <div class="task-list">
        <div class=" task-list__new " [ngClass]="{'selected': SelectedTLIdx == -1}" (click)="addNewTaskList()">
            <span class="new_list ">
                <div>
                    + Task List
                </div>
            </span>
        </div>
        <div class="task-list__item" *ngFor="let taskList of taskLists">
            <td-task-list [isListSelected]="taskList.id == selectedTLID" [id]="taskList.id" [title]="taskList.title" [taskList]="taskList.tasks"
                [priority]="taskList.priority" [priorities]="taskList.priorities" [label]="taskList.label" (updateList)="onListUpdate($event)"> 
            </td-task-list>
        </div>
    </div>
</div>