<div class="text" >
    <div [ngClass]="{'placeholder': showPlaceholder}" contenteditable="true" (blur)="onTextChange(val.innerText)" (click)="onFocus()" #val>{{ showPlaceholder ? placeholder : (text+" ") }}</div>
   
</div>