@import "./../../scss/variables";
@import "./../../scss/mixins";

.text {
    div{
        user-select: none;
    }
    display: inline-block;
    font-size: $task-font-size;
    word-break: break-word;
    
    &:focus,
    &:focus-visible {
        color: $font-color;
        outline: none;
    }
    &:focus{
        background-color: $font-color;
        color: $bg-color;
    }
    .placeholder{
        font-size: 0.8em;
        opacity: 0.4;
    }
}
