@import "./variables";

@mixin box($color: $border-color, $bgColor: $bg-color) {
   @include flex(row, center, flex-start);
   @include border;
   color: $color;
   background-color: $bgColor;
}

@mixin border($direction: all, $width: 1px, $radius: $border-radius) {
   border: none;
   @if $direction == bottom {
      border-bottom: $width solid $border-color;
   } @else {
      border: $width solid $border-color;
   }
   border-radius: $radius;
   background-color: $bg-color;
}
@mixin flex($dir: row, $h: flex-start, $v: flex-start) {
   display: flex;
   flex-direction: $dir;
   justify-content: $h;
   align-items: $v;
}
