$border-color: #e8eaed;
$bg-color: #202124;
$font-color: #e8eaed;
$color-low: #e8eaed;
$color-low-bg: #727374;
$color-medium: #fff049;
$color-high: #ca5753;

$color-danger: #ff7d7d;
$color-danger-bg:  #9c4644;

$task-font-size:1em;
$heading-font-size: 1.2em;
$label-font-size : 0.9em;

$p-2: 2px;
$p-5: 5px;
$p-10: 10px;
$m-2: 2px;
$m-5: 5px;
$m-10: 10px;

$b-1: 1px solid;
$b-2: 2px solid;

$margin-mobile: 1%;
$margin-tablet: 2%;
$margin-desktop: 10%;

$padding-mobile: 10px;
$padding-tablet: 10px;
$padding-desktop: 40px;

$border-radius: 8px;
