@import "./../../scss/variables";
@import "./../../scss/mixins";

.select-container {
    .text {
        padding: $p-5;
        @include border;
        text-overflow: hidden;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.low {
            color: $color-low;
            border-color: $color-low;
        }

        &.medium {
            color: $color-medium;
            border-color: $color-medium;
        }
        &.high {
            color: $color-high;
            border-color: $color-high;
        }
    }

    select {
        @include border(bottom, 1px, 0);
        color: $font-color;
        padding: $p-5;
        background-color: $bg-color;
        width: 100%;
        font-size: $task-font-size;
        &:focus {
            @include border(bottom, 1px, 0);
            color: $font-color;
        }
        &:focus-visible {
            outline: none;
            @include border(bottom, 1px, 0);
            color: $font-color;
        }
    }

    option {
        margin: $m-2 $m-5;
    }
}
