<div class="select-container">
    <div *ngIf="!showDropdown; else dropdown" class="text {{value}}" (click)="showDropdown = true">
        {{value | uppercase}}
    </div>
</div>

<ng-template #dropdown>
    <select [value]="value" (change)="onChange(priority.value)" #priority>
        <option value="">SELECT</option>
        <option *ngFor="let option of options" [value]="option">{{option | uppercase}}</option>
    </select>
</ng-template>