<div class="task">

    <div class="task-info">
        <span class="task-checkbox">
            <input type="checkbox" name="task-check" id="{{id}}" (change)="updateIsDone(taskCheck.checked)" [checked]="isDone" #taskCheck>
        </span>
        <div class="task-description" [ngClass]="{'done': isDone}">
            <td-text  [text]="description" (textChange)="onUpdateDescription($event)"></td-text>
        </div>
        
    </div>
    
</div>

