@import "./../../scss/variables";
@import "./../../scss/mixins";

:host {
    width: 100%;
}
.task {
    @include flex(row, space-between, baseline);
    margin: 5px 2px;
    height: auto;
    padding: 3px 0;
    &-info {
        @include flex(row, baseline);
    }

    &-checkbox {
        width: 14px;
        height: 16px;
        margin: 0 $m-5;
    }

    &-description {
        display: inline-block;
        font-size: $task-font-size;
        word-break: break-all;
        // padding: 0 0 $p-5;
        // margin: 0 0 $m-5;
        width: 90%;
        &:focus,
        &:focus-visible {
            @include border(bottom, 1px, 0);
            color: $font-color;
            outline: none;
        }

        &.done {
            ::ng-deep td-text{
                .text div{
                    text-decoration: line-through;
                }
            }
        }
    }

    &:hover {
        background-color: $color-low-bg;
        .task-operations_delete {
            visibility: visible;
        }
    }
}
