@import "./../../scss/variables";
@import "./../../scss/mixins";

.label {
    color: $font-color;
    font-size: $task-font-size;
    input {
        @include border(bottom,1px, 0);
        color: $font-color;
        width: 100px;
        padding: $p-5;
        font-size: $label-font-size;
    }


    &-text{
        padding: $p-5;
        @include border;
        text-overflow: hidden;
        width: 100px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 

        .placeholder{
            opacity: 0.4;
        }
    }
}
