<div class="label" >
    <div *ngIf="!showLabelInput; else labelInput" class="label-text" (click)="showLabelInput = true">
       <span *ngIf="label"> {{label}} </span> 
       <span *ngIf="!label" class="placeholder">Enter Label...</span>
    </div>
</div>

<ng-template #labelInput>
    <div class="label-input">
        <input type="text" [value]="label" (blur)="updateLabel(labl.value)" #labl>
    </div>
</ng-template>