@import "./app/scss/variables";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    font-size: 16px;

    &:hover{
        overflow-y: visible;
    }
}
html,
body {
    height: 100%;
    background-color: $bg-color;
    color: $font-color;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div,input{

    &:focus-visible{
        outline: none;
    }
}