<div class="task-list" id='{{id}}' [ngClass]="{'task-list__select': isListSelected}">
    <div class="task-list__header">

        <div class="heder-text">
            <td-text [text]="title" [placeholder]="'Enter Title...'" (textChange)="onTitleChange($event)"></td-text>
        </div>
        <div class="header-action">
            <div class="delete">
                <span (click)="deleteList()">
                    &times;
                </span>
            </div>

        </div>
    </div>
    <div class="task-list__body">
        <ng-container *ngFor="let task of taskList">
            <td-task [id]="task.id" [description]="task.description" [isDone]="task.isDone"
                (update)="onTaskUpdate($event)"></td-task>
        </ng-container>
        <div class="task-list__add">
            <div></div>
            <div (click)="addNewTask()">+ add task</div>
        </div>
    </div>
    <div class="task-list__footer">
        <div class="label footer-item">
            <td-label [label]="label" (labelChange)="onLabelChange($event)"></td-label>
        </div>
        <div class="priority footer-item">
            <span class="task-operations_dropdown">
                <td-select [value]="priority" [options]="priorities" (selectionChange)="onPriorityChange($event)">
                </td-select>
            </span>
        </div>
        <div class="delete footer-item">
            <span (click)="deleteTasks()" [style.visibility]="showTaskDelete ? 'visible':'hidden'">
                &times;
            </span>
        </div>
    </div>
</div>