@import "./../../scss/variables";
@import "./../../scss/mixins";

.task-list {
    @include border;
    color: $font-color;
    display: flex;
    flex-direction: column;
    min-height: 209px;
    padding: $p-10;

    &__select{
        border-color: $color-medium;
    }
    
    &__header {
        @include flex(row, space-between);
        margin: 10px;
        font-size: $heading-font-size;
        font-weight: 500;

        .header-action {
            .delete {
                cursor: pointer;
                visibility: hidden;
                position: relative;
                top: -20px;
                right: -10px;
                span {
                    font-size: 1.5em;
                }
            }
        }
    }
    &__body {
        min-height: 100px;
        @include flex(column);
    }

    &__add {
        display: flex;
        justify-content: flex-start;
        // padding: 5px;
        margin-bottom: 30px;
        div:nth-of-type(1) {
            width: 14px;
            margin: 0 $m-5;
        }
        div:nth-of-type(2) {
            // padding: $p-5;
            // margin: $m-5;
            margin-left: 0;
            background-color: $bg-color;
        }
    }

    &__footer {
        @include flex(row, flex-end, flex-end);
        height: 50px;
        padding: $p-10;
        .footer-item {
            display: flex;
            align-items: center;
            width: auto;
            height: 30px;
            margin-right: $p-5;
            cursor: pointer;
            text-align: center;
            padding: $p-5 0;
            font-size: $label-font-size;
        }

        .delete {
            @include flex(row, center, center);
            width: 30px;
            font-size: 1.8em;
            visibility: hidden;
            font-weight: bolder;
            color: $color-danger;
        }
    }

    &:hover {
        // .delete {
        //     visibility: visible;
        // }
        .header-action {
            .delete {
                visibility: visible;
            }
        }
    }
}
